@charset "utf-8";
/*-- practicehatesperfect - food - Jesse Scott - June 5th, 2016 --*/

@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Miniver);
@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Autour+One);
@import url(https://fonts.googleapis.com/css?family=Chelsea+Market);
@import 'https://fonts.googleapis.com/css?family=Risque';
@import 'https://fonts.googleapis.com/css?family=Fredoka+One';
@import 'https://fonts.googleapis.com/css?family=Norican';


/*-- Content --*/
.recipe	{
	padding: 20px;
    overflow: auto;
}


.title	{    
	position: relative;
	color: #fff;
	height: 300px;
    font-size: 56px;
	line-height: 120%;   
	text-align: left;
    background-size: cover;
    background-position: center;  
	background-color: rgba(255,255,255,0.4);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
    box-sizing: border-box;
}
.title h2 {
	font-family: 'Montserrat', sans-serif;	
	position: absolute;
	top: 100px;
	left: 20px;
    margin: 0;
    font-size: 100%;
}
.title img {
    visibility: hidden;
}

.recipe-path {
	font-family: 'Montserrat', sans-serif;	
	background-color: rgba(255,255,255,0.4);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
	border-radius: 3px;
	border: #000 solid 1px;
	overflow: hidden;
	margin: 20px 0;
}
.recipe-path > div	{
	width: auto;
	float: left;
    padding: 20px 20px 20px 5px; 
    border-right: #fff solid 2px;
}


.recipe .ingredients,
.utensils,
.directions,
.bonus {
	width: 45%;
    float: left;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
    padding: 10px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.picture{
	width: 50%;
	float: right;
    clear: both;    
    margin-bottom: 40px;
}
.picture > img {
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
}

.utensils {
    clear: left;
}
.list {
	width: 50%;
	float: left;
}

.bonus .ingredients, 
.bonus .directions {
    width: 100%;
    float: none;
}

.fb_iframe_widget_fluid span {
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
}


/*-- Recipes --*/
/*-- Recipes : Raspberry Lime Mini Cheese Cake --*/
[data-page="raspberry-lime-mini-cheese-cake"] .page {
	background-image: url(images/food/raspberry-lime-mini-cheese-cake-blur.jpg);
}
[data-page="raspberry-lime-mini-cheese-cake"] .recipe	{
    color: #FF6347;
    font-family: 'Crimson Text', serif;  
}
[data-page="raspberry-lime-mini-cheese-cake"] .title	{    
	background-image: url(images/food/raspberry-lime-mini-cheese-cake-banner.jpg);
}
[data-page="raspberry-lime-mini-cheese-cake"] .recipe-path {
	border-color: #FF6347;
}
[data-page="raspberry-lime-mini-cheese-cake"] .recipe-path > div	{
	color: #fff;
}
[data-page="raspberry-lime-mini-cheese-cake"] .recipe-path > div > a	{
	color: #fff;
}
[data-page="raspberry-lime-mini-cheese-cake"] .recipe-path > div:nth-child(1)	{
	background-color: #579229;
}
[data-page="raspberry-lime-mini-cheese-cake"] .recipe-path > div:nth-child(2)	{
	background-color: #fb2903;
}
[data-page="raspberry-lime-mini-cheese-cake"] #content > div > div > div.picture.second	{
	clear: none;
}

/*-- Recipes : Tomato Basil Bake Chicken --*/
[data-page="tomato-basil-chicken"] .page {
	background-image: url(images/food/tomato-basil-chicken-blur.jpg);
}
[data-page="tomato-basil-chicken"] .recipe	{
    color: #FF6347;
    font-family: 'Crimson Text', serif;  
}
[data-page="tomato-basil-chicken"] .title	{    
	background-image: url(images/food/tomato-basil-chicken-banner.jpg);
}
[data-page="tomato-basil-chicken"] .recipe-path {
	border-color: #FF6347;
}
[data-page="tomato-basil-chicken"] .recipe-path > div	{
	color: #fff;
}
[data-page="tomato-basil-chicken"] .recipe-path > div > a	{
	color: #fff;
}
[data-page="tomato-basil-chicken"] .recipe-path > div:nth-child(1)	{
	background-color: #579229;
}
[data-page="tomato-basil-chicken"] .recipe-path > div:nth-child(2)	{
	background-color: #FF6347;
}
[data-page="tomato-basil-chicken"] #content > div > div > div.picture.second	{
	clear: none;
}


/*-- Recipes : Curry Mango Chicken with Coconut Rice --*/
[data-page="curry-mango-chicken-coconut-rice"] .page {
	background-image: url(images/food/curry-mango-chicken-coconut-rice-blur.jpg);
}
[data-page="curry-mango-chicken-coconut-rice"] .recipe	{
    color: #ca8e27;
    font-family: 'Crimson Text', serif;  
}

[data-page="curry-mango-chicken-coconut-rice"] .title	{
	background-image: url(images/food/curry-mango-chicken-coconut-rice-banner.jpg);
	font-size: 52px;
}
[data-page="curry-mango-chicken-coconut-rice"] .recipe-path {
	border-color: #ca8e27;
}
[data-page="curry-mango-chicken-coconut-rice"] .recipe-path > div	{
	color: #fff;
}
[data-page="curry-mango-chicken-coconut-rice"] .recipe-path > div > a	{
	color: #fff;
}
[data-page="curry-mango-chicken-coconut-rice"] .recipe-path > div:nth-child(1)	{
	background-color: #b46a00;
}
[data-page="curry-mango-chicken-coconut-rice"] .recipe-path > div:nth-child(2)	{
	background-color: #ca8e27;
}
[data-page="curry-mango-chicken-coconut-rice"] #content > div > div > div.picture.second	{
	clear: none;
}


/*-- Recipes : Mixed Berry Cinnamon Studel --*/
[data-page="cinnamon-rolls-apple-sauce"] .page {
	background-image: url(images/food/cinnamon-rolls-apple-sauce-blur.jpg);
}
[data-page="cinnamon-rolls-apple-sauce"] .recipe	{
    color: #6c3b1b;
    font-family: 'Crimson Text', serif;  
}

[data-page="cinnamon-rolls-apple-sauce"] .title	{
	color: #6c3b1b;
	font-family: 'Fredoka One', cursive;
	font-size: 48px;
	font-weight: 100;
    text-shadow: #000 1px 2px;
    padding: 30px 10px 20px 10px;
}
[data-page="cinnamon-rolls-apple-sauce"] .recipe-path {
	border-color: #3c1e0b;
}
[data-page="cinnamon-rolls-apple-sauce"] .recipe-path > div	{
	color: #fff;
}
[data-page="cinnamon-rolls-apple-sauce"] .recipe-path > div > a	{
	color: #fff;
}
[data-page="cinnamon-rolls-apple-sauce"] .recipe-path > div:nth-child(1)	{
	background-color: #3c1e0b;
}
[data-page="cinnamon-rolls-apple-sauce"] .recipe-path > div:nth-child(2)	{
	background-color: #6c3b1b;
}
[data-page="cinnamon-rolls-apple-sauce"] #content > div > div > div.picture.second	{
	clear: none;
}


/*-- Recipes : Mixed Berry Cinnamon Studel --*/
[data-page="mixed-berry-cinnamon-studel"] .page {
	background-image: url(images/food/mixed-berry-cinnamon-studel-blur.jpg);
}
[data-page="mixed-berry-cinnamon-studel"] .recipe	{
    color: #881d77;
    font-family: 'Crimson Text', serif;  
}

[data-page="mixed-berry-cinnamon-studel"] .title	{
	color: #610552;
	font-family: 'Risque', cursive;
	font-size: 48px;
    text-shadow: #000 1px 2px;
    padding: 30px 10px 20px 10px;
}
[data-page="mixed-berry-cinnamon-studel"] .recipe-path {
	border-color: #881d77;
}
[data-page="mixed-berry-cinnamon-studel"] .recipe-path > div	{
	color: #fff;
}
[data-page="mixed-berry-cinnamon-studel"] .recipe-path > div > a	{
	color: #fff;
}
[data-page="mixed-berry-cinnamon-studel"] .recipe-path > div:nth-child(1)	{
	background-color: #3c0333;
}
[data-page="mixed-berry-cinnamon-studel"] .recipe-path > div:nth-child(2)	{
	background-color: #610552;
}


/*-- Recipes : Lemon Cream Squares --*/
[data-page="lemon-cream-squares"] .page {
	background-image: url(images/food/lemon-cream-squares-blur.jpg);
}
[data-page="lemon-cream-squares"] .recipe	{
    color: #ab8956;
    font-family: 'Crimson Text', serif;  
}

[data-page="lemon-cream-squares"] .title	{
	color: #ab8956;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 0px;
    font-size: 72px;
    font-weight: normal;
    text-shadow: none;
}
[data-page="lemon-cream-squares"] .recipe-path {
	border-color: #8e7550;
}
[data-page="lemon-cream-squares"] .recipe-path > div	{
	color: #fff;
}
[data-page="lemon-cream-squares"] .recipe-path > div > a	{
	color: #fff;
}
[data-page="lemon-cream-squares"] .recipe-path > div:nth-child(1)	{
	background-color: #8e7550;
}
[data-page="lemon-cream-squares"] .recipe-path > div:nth-child(2)	{
	background-color: #ab8956;
}


/*-- Recipes : Apple Crisp --*/
[data-page="apple-crisp"] .page {
	background-image: url(images/food/apple-crisp-blur.jpg);
}
[data-page="apple-crisp"] .content_wrapper {
    background-color: rgba(222, 245, 216, 0.7);
}

[data-page="apple-crisp"] .recipe	{
    color: #417d35;
    font-family: 'Crimson Text', serif;  
}

[data-page="apple-crisp"] .title	{
	color: #417d35;
	font-family: 'Autour One', cursive;
	font-size: 64px;
    text-shadow: #000 1px 2px;
    padding: 20px 10px;
}
[data-page="apple-crisp"] .recipe-path {
	border-color: #417d35;
}
[data-page="apple-crisp"] .recipe-path > div	{
	color: #fff;
}
[data-page="apple-crisp"] .recipe-path > div > a	{
	color: #fff;
}
[data-page="apple-crisp"] .recipe-path > div:nth-child(1)	{
	background-color: #417d35;
}
[data-page="apple-crisp"] .recipe-path > div:nth-child(2)	{
	background-color: #429831;
}


/*-- Recipes : Cherry Surprises --*/
[data-page="cherry-surprises"] .page {
	background-color: #3a0208;
}
[data-page="cherry-surprises"] .recipe	{
    color: #820a18;
    font-family: 'Crimson Text', serif;  
}

[data-page="cherry-surprises"] .title	{
	color: #820a18;
	font-family: 'Miniver', cursive;   
	font-size: 64px;
    text-shadow: #000 1px 2px;
    padding: 30px 10px 20px 10px;
}
[data-page="cherry-surprises"] .recipe-path {
	border-color: #3a0208;
}
[data-page="cherry-surprises"] .recipe-path > div	{
	color: #fff;
}
[data-page="cherry-surprises"] .recipe-path > div > a	{
	color: #fff;
}
[data-page="cherry-surprises"] .recipe-path > div:nth-child(1)	{
	background-color: #3a0208;
}
[data-page="cherry-surprises"] .recipe-path > div:nth-child(2)	{
	background-color: #820a18;
}


/*-- Recipes : Pink Party Squares --*/
[data-page="pink-party-squares"] .page {
	background-color: #881d77;
}
[data-page="pink-party-squares"] .recipe	{
    color: #881d77;
    font-family: 'Crimson Text', serif;  
}

[data-page="pink-party-squares"] .title	{
	color: #fa5fe2;
	font-family: 'Sacramento', cursive;
	font-size: 64px;
    text-shadow: #000 1px 2px;
    padding: 30px 10px 20px 10px;
}
[data-page="pink-party-squares"] .recipe-path {
	border-color: #881d77;
}
[data-page="pink-party-squares"] .recipe-path > div	{
	color: #fff;
}
[data-page="pink-party-squares"] .recipe-path > div > a	{
	color: #fff;
}
[data-page="pink-party-squares"] .recipe-path > div:nth-child(1)	{
	background-color: #881d77;
}
[data-page="pink-party-squares"] .recipe-path > div:nth-child(2)	{
	background-color: #fa5fe2;
}


/*-- Recipes : Parmesan Panko Chicken --*/
[data-page="parmesan-panko-chicken"] .page {
	background-image: url(images/food/parmesan-panko-chicken-blur.jpg);
}
[data-page="parmesan-panko-chicken"] .content_wrapper {
    background-color: rgba(225, 201, 157, 0.7);
}

[data-page="parmesan-panko-chicken"] .recipe	{
    color: #7f3b0a;
    font-family: 'Crimson Text', serif;  
}

[data-page="parmesan-panko-chicken"] .title	{
	font-family: 'Chelsea Market', cursive;
	font-size: 42px;
    text-shadow: #000 1px 1px;
}
[data-page="parmesan-panko-chicken"] .recipe-path {
	border-color: #7f3b0a;
}
[data-page="parmesan-panko-chicken"] .recipe-path > div	{
	color: #fff;
}
[data-page="parmesan-panko-chicken"] .recipe-path > div > a	{
	color: #fff;
}
[data-page="parmesan-panko-chicken"] .recipe-path > div:nth-child(1)	{
	background-color: #7f3b0a;
}
[data-page="parmesan-panko-chicken"] .recipe-path > div:nth-child(2)	{
	background-color: #9c3d00;
}


@media screen and (max-width: 920px)	{
	.recipe .ingredients,
	.utensils,
	.directions,
	.bonus,
	.picture,
	.list.one,
	.list.two,
	.bonus .ingredients, 
	.bonus .directions  {
			width: 100%;
			float: none;
		}
	.recipe .ingredients,
	.utensils,
	.directions,
	.bonus,
	.picture	{
		margin-bottom: 10px;
	}
	.title h2 {
    	line-height: initial;
	}

	.fb_iframe_widget {
	    float: none;
	    padding: 0;
	}

	/*-- Recipes --*/
	/*-- Recipes : Curry Mango Chicken with Coconut Rice --*/
	[data-page="curry-mango-chicken-coconut-rice"] .title	{
		font-size: 38px;
	}

	/*-- Recipes : Lemon Cream Squares --*/
	[data-page="lemon-cream-squares"] .title	{
	    font-size: 48px;
	}
	[data-page="parmesan-panko-chicken"] .title	{
		font-size: 28px;
	}
}